# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Database
instance/*.db

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Virtual environment
venv/
.env/

# Configuration files
config.py