<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>{% block title %}CareerQuest{% endblock %}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      {% block head %}{% endblock %}
  </head>
  <body>
    <div class="main-container">
      {% block navbar %}
        {% with is_authenticated=True %}
          <!-- {% include 'components/navbar.html' %} -->
        {% endwith %}
      {% endblock %}
      {% block messages %}
        {% include 'components/messages.html' %}
      {% endblock %}
      {% include 'components/starbg.html' %}
      <div class="container" style="flex: 1;">
        {% block content %}{% endblock %}
      </div>
      <!-- <footer>
        <div class="container">
          <p>&copy; 2025 CareerQuest. All rights reserved.</p>
        </div>
      </footer> -->
    </div>
  </body>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="{{ url_for('static', filename='effects/starbg.js') }}"></script>
  <script src="{{ url_for('static', filename='effects/navbarAnim.js') }}"></script>
  {% block scripts %}{% endblock %}
</html>