

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>{% block title %}CareerQuest{% endblock %}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      {% block head %}{% endblock %}
  </head>
  <body>
    <div>placeholder</div>
    <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
  </body>
  <footer>
    <div class="container">
      <p>&copy; 2025 CareerQuest. All rights reserved.</p>
    </div>
  </footer>
</html>