<div class="star-background">
  <svg class="star star1"><use href="{{ url_for('static', filename='star-sprite.svg') }}#star1"></use></svg>  <svg class="star star1"><use href="{{ url_for('static', filename='star-sprite.svg') }}#star1"></use></svg>
  <svg class="star star2"><use href="{{ url_for('static', filename='star-sprite.svg') }}#star1"></use></svg>
  <svg class="star star3"><use href="{{ url_for('static', filename='star-sprite.svg') }}#star1"></use></svg>
  <svg class="star star4"><use href="{{ url_for('static', filename='star-sprite.svg') }}#star1"></use></svg>
  <svg class="star star5"><use href="{{ url_for('static', filename='star-sprite.svg') }}#star1"></use></svg>
  <svg class="star star6"><use href="{{ url_for('static', filename='star-sprite.svg') }}#star1"></use></svg>
  <svg class="star star7"><use href="{{ url_for('static', filename='star-sprite.svg') }}#star1"></use></svg>
  <svg class="star star8"><use href="{{ url_for('static', filename='star-sprite.svg') }}#star1"></use></svg>
</div>