<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

<footer class="cq-footer" role="contentinfo">
	<div class="cq-footer-inner">
		<div class="cq-footer-bg">
			{% include '/components/svg/torn.html' %}
		</div>
		<div class="cq-footer-left">
			<h2 class="cq-footer-logo">CareerQuest</h2>
			<a href="#" class="cq-footer-cta" aria-label="Join the Quest">
				<img src="/static/assets/compass-logo.svg" alt="CareerQuest Logo" style="vertical-align: middle; height: 40px; width: auto;">
				<span>Join the Quest today!</span>
			</a>
		</div>

		<div class="cq-footer-links" role="navigation" aria-label="Footer links">
			<div class="cq-footer-col">
				<h3>Learn</h3>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
			</div>
			<div class="cq-footer-col">
				<h3>Resources</h3>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
			</div>
			<div class="cq-footer-col">
				<h3>Company</h3>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
			</div>

		</div>

		<div class="cq-footer-right">
				<div class="cq-footer-social-icons">
					<a href="#" aria-label="Instagram" class="cq-footer-icon">
						<img src="/static/assets/insta.svg" alt="Instagram">
					</a>
					<a href="#" aria-label="LinkedIn" class="cq-footer-icon">
						<img src="/static/assets/linkedin.svg" alt="LinkedIn" width="15px">
					</a>
				</div>
				<h3 class="cq-footer-social-title">Lorem ipsum</h3>
			<span>CareerQuest © 2025. All rights reserved</span>
		</div>
	</div>
</footer>