<!-- templates/navbar.html -->
<div class="navbar">
  <div class="container">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('users.profile') }}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('jobs.all_jobs') }}">View Jobs</a>
      </li>
      {% if not is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('jobs.recommended_jobs') }}">Recommended Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>